.login-box{
  width:350px;
  margin:100px auto;
  padding:20px;
  box-shadow:0 0 10px gray;
  border-radius:10px;
  text-align:center;
}

input{
  width:100%;
  padding:10px;
  margin-top:10px;
  box-sizing:border-box;
}

button{
  width:100%;
  padding:10px;
  margin-top:15px;
}

.error{
  color:red;
}